.footer{
    background-color: #333333;
    color: #ffffff;
}

.footer-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem; /* 40px / 16 */
    display: flex;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    gap: 1.25rem; 
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-content h4{
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem; /* 16px / 16 */
}

.footer-content li{
    margin-bottom: 1rem; /* 16px / 16 */
}

.footer-content li a{
    color: #ffffff;
}

.footer-content li a:hover{
text-decoration: underline;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}

.newsletter-form input{
    border-radius: 1.875rem; /* 30px / 16 */
    color: #AAAAAA;
    padding: 0.75rem 1.25rem; /* 12px 20px / 16 */
    width: 21.5rem; /* 344px / 16 */
}

.footer-social h4{
    margin-bottom: 1rem; /* 16px / 16 */
}

.social-icons{
    display: flex;
    gap: 1.25rem; /* 20px / 16 */
}

.social-icons img:hover{
    opacity: 0.7;
}

.footer-bottom{
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0; /* 20px / 16 */
}