.footer{
    background-color: #333333;
    color: #ffffff;
}

.footer-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem; 
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #4A4A4A;
}

.footer-content{
    display: flex;
    gap: 1.25rem; 
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-content h4{
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem; 
}

.footer-content li{
    margin-bottom: 1rem; 
}

.footer-content li a{
    color: #ffffff;
}

.footer-content li a:hover{
    text-decoration: underline;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}

.newsletter-form input{
    border-radius: 1.875rem;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem; 
}

.footer-social h4{
    margin-bottom: 1rem; 
}

.social-icons{
    display: flex;
    gap: 1.25rem; 
}

.social-icons img:hover{
    opacity: 0.7;
}

.footer-bottom{
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0; 
}

@media(max-width: 1000px){
    .footer-container{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-bottom{
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}